In [1]:
import time

In [2]:
%%time
time.sleep(3)
print("Hello")
time.sleep(2)
print("Bhavya")

Hello
Bhavya
CPU times: total: 0 ns
Wall time: 5 s

In [3]:
def simple_intrest(p,n,r):
    print("simple Intrest function started")
    time.sleep(3)
    i = (p*n*r)/100
    a = p+i
    print(f"simple Intrest: {i:.2f} INR")
    print(f"Amount : {a:.2f} INR")
    print("simple Intrest Execution complete")

In [4]:
%%time
simple_intrest(45000,5,7.1)

simple Intrest function started
simple Intrest: 15975.00 INR
Amount : 60975.00 INR
simple Intrest Execution complete
CPU times: total: 0 ns
Wall time: 3 s

In [5]:
def hypotenuse(a,b):
    print("Hypotenuse execution started")
    time.sleep(2)
    c = (a**2 + b**2)**(1/2)
    print(f"Hypotenuse of {a} and {b} is {c:.4f}")
    print("Hypotenuse execution completed")

In [6]:
%%time
hypotenuse(5,6)

Hypotenuse execution started
Hypotenuse of 5 and 6 is 7.8102
Hypotenuse execution completed
CPU times: total: 0 ns
Wall time: 2 s

In [7]:
%%time
hypotenuse(4,5)
simple_intrest(47000,5,6.5)

Hypotenuse execution started
Hypotenuse of 4 and 5 is 6.4031
Hypotenuse execution completed
simple Intrest function started
simple Intrest: 15275.00 INR
Amount : 62275.00 INR
simple Intrest Execution complete
CPU times: total: 0 ns
Wall time: 5 s

In [8]:
from threading import Thread

In [9]:
%%time
th1 = Thread(target=simple_intrest,args=(57000,6,7.5))
th2 = Thread(target=hypotenuse,args=(3,4))

th1.start()
th2.start()

th1.join()
th2.join()

simple Intrest function started
Hypotenuse execution started
Hypotenuse of 3 and 4 is 5.0000
Hypotenuse execution completed
simple Intrest: 25650.00 INR
Amount : 82650.00 INR
simple Intrest Execution complete
CPU times: total: 0 ns
Wall time: 3 s

In [10]:
def square(n):
    time.sleep(1)
    s = n**2
    print(f"Square of number {n} is {s}\n\n")

In [11]:
%%time
square(48)

Square of number 48 is 2304


CPU times: total: 0 ns
Wall time: 1 s

In [12]:
nums = [3, 4, 5, 6, 7, 8, 9, 11, 12]
nums

[3, 4, 5, 6, 7, 8, 9, 11, 12]

In [13]:
len(nums)

9

In [14]:
%%time
for i in nums:
    square(i)

Square of number 3 is 9


Square of number 4 is 16


Square of number 5 is 25


Square of number 6 is 36


Square of number 7 is 49


Square of number 8 is 64


Square of number 9 is 81


Square of number 11 is 121


Square of number 12 is 144


CPU times: total: 0 ns
Wall time: 9.01 s

In [15]:
def multithreading_squares(nums: list):
    threads = []
    for i in nums:
        th = Thread(target=square,args=(i,))
        th.start()
        threads.append(th)

    for th in threads:
        th.join()

In [16]:
nums

[3, 4, 5, 6, 7, 8, 9, 11, 12]

In [17]:
%%time
multithreading_squares(nums)

Square of number 3 is 9

Square of number 6 is 36


Square of number 4 is 16


Square of number 8 is 64


Square of number 5 is 25



Square of number 7 is 49


Square of number 9 is 81


Square of number 12 is 144


Square of number 11 is 121


CPU times: total: 0 ns
Wall time: 1.02 s

In [18]:
import numpy as np

In [19]:
a = np.arange(start=1,stop=101,step=1)
a

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [20]:
%%time
multithreading_squares(a)

Square of number 1 is 1

Square of number 2 is 4


Square of number 3 is 9


Square of number 4 is 16


Square of number 5 is 25


Square of number 7 is 49


Square of number 6 is 36


Square of number 8 is 64


Square of number 14 is 196



Square of number 12 is 144


Square of number 11 is 121


Square of number 13 is 169


Square of number 10 is 100


Square of number 15 is 225


Square of number 9 is 81


Square of number 17 is 289


Square of number 16 is 256


Square of number 19 is 361


Square of number 18 is 324


Square of number 20 is 400


Square of number 23 is 529


Square of number 24 is 576


Square of number 22 is 484


Square of number 21 is 441


Square of number 26 is 676


Square of number 25 is 625


Square of number 28 is 784


Square of number 27 is 729


Square of number 29 is 841


Square of number 30 is 900


Square of number 31 is 961


Square of number 32 is 1024


Square of number 34 is 1156


Square of number 33 is 1089


Square of number 35 is 1225


Square of number 36 is 1296


Square of number 37 is 1369


Square of number 38 is 1444


Square of number 40 is 1600


Square of number 39 is 1521


Square of number 41 is 1681


Square of number 43 is 1849


Square of number 42 is 1764


Square of number 44 is 1936


Square of number 45 is 2025


Square of number 46 is 2116


Square of number 47 is 2209


Square of number 48 is 2304


Square of number 49 is 2401


Square of number 50 is 2500


Square of number 51 is 2601


Square of number 52 is 2704


Square of number 54 is 2916


Square of number 53 is 2809


Square of number 55 is 3025


Square of number 56 is 3136


Square of number 57 is 3249


Square of number 58 is 3364


Square of number 59 is 3481


Square of number 60 is 3600


Square of number 61 is 3721


Square of number 62 is 3844


Square of number 63 is 3969


Square of number 64 is 4096


Square of number 66 is 4356


Square of number 68 is 4624


Square of number 67 is 4489


Square of number 65 is 4225


Square of number 69 is 4761


Square of number 70 is 4900


Square of number 71 is 5041


Square of number 72 is 5184


Square of number 73 is 5329


Square of number 74 is 5476


Square of number 75 is 5625


Square of number 76 is 5776


Square of number 77 is 5929


Square of number 78 is 6084


Square of number 79 is 6241


Square of number 80 is 6400


Square of number 82 is 6724


Square of number 81 is 6561


Square of number 83 is 6889


Square of number 84 is 7056


Square of number 85 is 7225


Square of number 86 is 7396


Square of number 87 is 7569


Square of number 88 is 7744


Square of number 89 is 7921


Square of number 90 is 8100


Square of number 92 is 8464


Square of number 91 is 8281


Square of number 93 is 8649


Square of number 95 is 9025


Square of number 94 is 8836


Square of number 96 is 9216


Square of number 97 is 9409


Square of number 98 is 9604


Square of number 99 is 9801


Square of number 100 is 10000


CPU times: total: 0 ns
Wall time: 1.04 s

In [21]:
urls = [
    "https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv",
    "https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/test.csv",
    "https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/train.csv"
]

In [22]:
urls

['https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/test.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/train.csv']

In [23]:
urls[0]

'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv'

In [24]:
urls[0].split("/")

['https:',
 '',
 'raw.githubusercontent.com',
 'utkarshg1',
 'mlproject_regression',
 'main',
 'artifacts',
 'data.csv']

In [25]:
urls[0].split("/")[-1]

'data.csv'

In [26]:
from urllib.request import urlretrieve

In [27]:
def download_single_file(url:str):
    filename = url.split("/")[-1]
    print(f"{filename} download started ....")
    urlretrieve(url,filename)
    print(f"{filename} download complete!")

In [28]:
def singlethread_downloads(urls: list):
    for i in urls:
        download_single_file(i)

In [29]:
urls

['https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/test.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/train.csv']

In [31]:
%%time
singlethread_downloads(urls)

data.csv download started ....
data.csv download complete!
test.csv download started ....
test.csv download complete!
train.csv download started ....
train.csv download complete!
CPU times: total: 0 ns
Wall time: 1.69 s

In [33]:
def multithread_downloads(urls: list):
    threads = []
    for i in urls:
        th = Thread(target=download_single_file,args=(i,))
        th.start()
        threads.append(th)
    for th in threads:
        th.join()

In [34]:
%%time
multithread_downloads(urls)

data.csv download started ....
test.csv download started ....
train.csv download started ....
test.csv download complete!
data.csv download complete!
train.csv download complete!
CPU times: total: 31.2 ms
Wall time: 1.24 s

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv("data.csv")
df.head(3)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB