### variadic function in python

In [1]:
def add(a: int|float, b: int|float) -> int|float:
    c = a+b
    return c

In [2]:
# Arguments input
add(3,4)

7

In [3]:
add(4.5,2)

6.5

In [4]:
add(a=11.5,b=12.3)

23.8

In [5]:
def function1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [6]:
function1(3,4)

(3, 4)
<class 'tuple'>
3
4

In [7]:
function1("Bhavya",29,"Data analyst","o+")

('Bhavya', 29, 'Data analyst', 'o+')
<class 'tuple'>
Bhavya
29
Data analyst
o+

In [8]:
a = ["Example",True,False,12.5,11.2,13]
type(a)

list

In [9]:
function1(*a)

('Example', True, False, 12.5, 11.2, 13)
<class 'tuple'>
Example
True
False
12.5
11.2
13

In [10]:
c1 = [
    ("Laptop",65000,1),
    ("Mouse",1500,2),
    ("Keyboard",2000,1)
]

In [18]:
def billing(*args):
    total_bill = 0
    for name, price, qty in args:
        subtotal = price*qty
        total_bill = total_bill + subtotal
        print(f"Name : {name}, Price : {price} INR, Quantity : {qty}")
        print(f"subtotal : {subtotal} INR")
        print("\n=================================================\n")

        ## Print and return total bill
        print(f"Total bill : {total_bill:.2f} INR")
        return total_bill

In [12]:
c1

[('Laptop', 65000, 1), ('Mouse', 1500, 2), ('Keyboard', 2000, 1)]

In [13]:
t1 = billing(*c1)

Name : Laptop, Price : 65000 INR, Quantity : 1
subtotal : 65000 INR

=================================================

Total bill : 65000.00 INR

In [14]:
t1

65000

In [17]:
t2 = billing(
    ("Mobile",3000,2),
    ("Screen Guard",200, 2),
    ("Headphones",2000, 1),
    ("Phone Cover",400, 2)
)

Name : Mobile, Price : 3000 INR, Quantity : 2
subtotal : 6000 INR

=================================================

Total bill : 6000.00 INR

In [19]:
def function2(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"key : {key},value : {value}")

In [20]:
function2(a=1, b=23,name="Bhavya",married=False)

{'a': 1, 'b': 23, 'name': 'Bhavya', 'married': False}
<class 'dict'>
key : a,value : 1
key : b,value : 23
key : name,value : Bhavya
key : married,value : False

In [21]:
def create_user(**kwargs):
    user = {
        "username": None,
        "age": None,
        "email": None
    }
    user.update(kwargs)
    return user

In [22]:
u1 = create_user(
    username = "Nishil25",
    age = 32
)

In [23]:
u1

{'username': 'Nishil25', 'age': 32, 'email': None}

In [24]:
u2 = create_user(
    username = "priyu27",
    age = 6,
    email = "priyu27@gmail.com"
)

In [25]:
u2

{'username': 'priyu27', 'age': 6, 'email': 'priyu27@gmail.com'}

In [26]:
u3 = create_user(
    username = "Nisbh",
    age = 30,
    email = "Nish@gmail.com",
    blood_group = "o+",
    contact = 843567890
)

In [27]:
u3

{'username': 'Nisbh',
 'age': 30,
 'email': 'Nish@gmail.com',
 'blood_group': 'o+',
 'contact': 843567890}