In [1]:
7/0

ZeroDivisionError: division by zero

In [2]:
"A"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
a = "23"
type(a)

str

In [4]:
b = int(a)
type(b)

int

In [5]:
b

23

In [6]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [7]:
float("12.34")

12.34

In [8]:
float("12.ab")

ValueError: could not convert string to float: '12.ab'

In [9]:
def division():
    num = float(input("Please enter Numerator: "))
    den = float(input("Please enter Denominator: "))
    return num / den

In [10]:
#num - 3,den - 4
print(division())
print("Program complete")

0.75
Program complete

In [11]:
#num - 5,den - 0
print(division())
print("program complete")

ZeroDivisionError: float division by zero

In [12]:
# Num - 43, Den - abc
print(division())
print("Program Complete")

ValueError: could not convert string to float: 'abc'

In [13]:
def division2():
    try:
        num = float(input("Please enter numerator: "))
        den = float(input("please enter denominator: "))
        return num / den
    except Exception as e:
        print(f"Exception Occured : {e}")

In [14]:
#num - 10, den-7
print(division2())
print("Program complete")

1.4285714285714286
Program complete

In [15]:
#num - 7,den - 0
print(division2())
print("Program complete")

Exception Occured : float division by zero
None
Program complete

In [16]:
#num- abc
print(division2())
print("Program complete")

Exception Occured : could not convert string to float: 'abc'
None
Program complete

In [17]:
def division3():
    try:
        num = float(input("Please enter numerator:  "))
        den = float(input("Please enter denominator:  "))
        return num / den
    except ZeroDivisionError:
        print("Denominator cannot be 0")
    except ValueError:
        print("Please enter a valid number strings and blank values are not allowed")

In [18]:
#num - 7, den - 8
print(division3())
print("Program complete")

0.875
Program complete

In [19]:
#num - 23, den - 0
print(division3())
print("Program complete")

Denominator cannot be 0
None
Program complete

In [20]:
#num - 12, den - abc
print(division3())
print("Program complete")

Please enter a valid number strings and blank values are not allowed
None
Program complete

In [21]:
#num - blank
print(division3())
print("Program complete")

Please enter a valid number strings and blank values are not allowed
None
Program complete

In [22]:
from math import sqrt

In [23]:
sqrt(15)

3.872983346207417

In [24]:
sqrt(25)

5.0

In [25]:
def square_root():
    try:
        num = float(input("Please enter a positive number: "))
        s = sqrt(num)
    except Exception as e:
        print(f"Exception occured : {e}")
    else:
        print(f"Square root of {num} is : {s:.4f}")
        return s
    finally:
        print("Finally Bloack will always execute")

In [26]:
#num - 25
s1 = square_root()

Square root of 25.0 is : 5.0000
Finally Bloack will always execute

In [27]:
s1

5.0

In [28]:
s2 = square_root()

Square root of 10.0 is : 3.1623
Finally Bloack will always execute

In [29]:
def age_validator():
    age = int(input("Please enter age in years : "))
    if age > 0 and age <= 100:
        print(f"Valid age : {age}")
        return age
    else:
        raise ValueError("Invalid age entered, Please enter age between 0 and 100")

In [30]:
a1 = age_validator()

Valid age : 30

In [31]:
a1

30

In [32]:
a2 = age_validator()

ValueError: Invalid age entered, Please enter age between 0 and 100

In [33]:
try:
    a2 = age_validator()
except Exception as e:
    print(f"Exception occured : {e}")

Exception occured : Invalid age entered, Please enter age between 0 and 100

In [34]:
with open("example.txt", "w") as file1:
    file1.write("My name is Bhavya nishil kapadia\n")
    file1.write("This is my work space\n")

In [35]:
with open("example.txt", "r") as file2:
    content = file2.read()
    print(content)

My name is Bhavya nishil kapadia
This is my work space

In [36]:
content

'My name is Bhavya nishil kapadia\nThis is my work space\n'

In [37]:
def read_file(path: str) -> str:
    try:
        with open(path, "r") as file:
            content = file.read()
            return content
    except Exception as e:
        print(f"Exception Occured : {e}")

In [39]:
with open("example.txt", "a") as file3:
    file3.write("Welcome to Advanced Python\n")
    file3.write("This is file handling class\n")

In [40]:
c = read_file("example.txt")
print(c)

My name is Bhavya nishil kapadia
This is my work space
Welcome to Advanced Python
This is file handling class

In [41]:
def read_file(path: str) -> str:
    try:
        with open(path, "r") as file:
            content = file.read()
            return content
    except Exception as e:
        print(f"Exception Occured : {e}")

In [42]:
c = read_file("example.txt")
print(c)

My name is Bhavya nishil kapadia
This is my work space
Welcome to Advanced Python
This is file handling class

In [43]:
c

'My name is Bhavya nishil kapadia\nThis is my work space\nWelcome to Advanced Python\nThis is file handling class\n'

In [44]:
read_file("test.txt")

Exception Occured : [Errno 2] No such file or directory: 'test.txt'

In [45]:
read_file(123)

Exception Occured : [WinError 6] The handle is invalid