In [1]:
a = "ETLHIVE"
type(a)

str

In [2]:
len(a)

7

In [3]:
b= ["a",12,13,False]
type(b)

list

In [4]:
len(b)

4

In [5]:
c = (1,2,3)

In [6]:
type(c)

tuple

In [7]:
d = {
    "name": "Rahul",
    "age": 28,
    "gender": "Male",
    "email": "rahul@gmail.com",
    "married": True
}
type(d)

dict

In [8]:
len(d)

5

In [9]:
p = {
    "id": [1,2,3],
    "name": ["laptop","Mouse","Headphones"],
    "price": [35000,640,1200],
    "Warrenty": [1,0,0]
}
type(p)

dict

In [10]:
import pandas as pd
df = pd.DataFrame(p)
df

   id        name  price  Warrenty
0   1      laptop  35000         1
1   2       Mouse    640         0
2   3  Headphones   1200         0

In [11]:
df.shape

(3, 4)

In [12]:
len(df)

3

In [13]:
3 + 4

7

In [14]:
1.3 + 4.8

6.1

In [15]:
"Hello" + "world"

'Helloworld'

In [16]:
a = [1,2,3,4]
b = [5,6,7]

In [17]:
type(a)

list

In [18]:
type(b)

list

In [19]:
a + b

[1, 2, 3, 4, 5, 6, 7]

In [20]:
b + a

[5, 6, 7, 1, 2, 3, 4]

In [21]:
3*4

12

In [22]:
"!"*5

'!!!!!'

In [23]:
a

[1, 2, 3, 4]

In [24]:
a * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [25]:
c = [4,5,6]
d = [11,20,13]

In [26]:
list(zip(c,d))

[(4, 11), (5, 20), (6, 13)]

In [27]:
e = []
for i, j in zip(c,d):
    e.append(i+j)

In [28]:
e

[15, 25, 19]

In [29]:
c + d

[4, 5, 6, 11, 20, 13]

In [30]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [31]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### Method overriding

In [32]:
class India:

    def capital(self):
        print("New Delhi is capital of india")

    def language(self):
        print("Hindi is widely spoken in india")

In [33]:
class USA:

    def capital(self):
        print("Washington D.C. is capital of USA")

    def language(self):
        print("English is widely spoken in USA")

In [34]:
class France:

    def capital(self):
        print("Paris is capital of france")
    def language(self):
        print("French is widely spoken in France")

In [35]:
c1 = India()

In [36]:
type(c1)

__main__.India

In [37]:
c1.capital()

New Delhi is capital of india

In [38]:
c1.language()

Hindi is widely spoken in india

In [39]:
c2 = USA()

In [40]:
c2.capital()

Washington D.C. is capital of USA

In [41]:
c2.language()

English is widely spoken in USA

In [42]:
c3 = France()

In [43]:
c3.capital()

Paris is capital of france

In [44]:
c3.language()

French is widely spoken in France

In [45]:
c = [India(),USA(),France()]
c

[<__main__.India at 0x25380b17ed0>,
 <__main__.USA at 0x25380b17d90>,
 <__main__.France at 0x25380bf8050>]

In [46]:
for i in c:
    print(type(i))
    i.language()
    i.capital()
    print("\n","="*50, "\n")

<class '__main__.India'>
Hindi is widely spoken in india
New Delhi is capital of india

 ==================================================

<class '__main__.USA'>
English is widely spoken in USA
Washington D.C. is capital of USA

 ==================================================

<class '__main__.France'>
French is widely spoken in France
Paris is capital of france

 ==================================================

In [47]:
from dataclasses import dataclass

In [48]:
@dataclass
class Rectangle:
    height: int| float
    width: int| float

def perimeter(self):
    return 2 *(self.height + self.width)
def area(self):
    return self.width * self.height

In [49]:
from math import pi

In [50]:
pi

3.141592653589793

In [51]:
@dataclass
class Circle:
    radius: int| float

def perimeter(self):
    return 2* pi * self.radius
def area(self):
    return pi * (self.radius ** 2)

In [52]:
shapes = [
    Circle(7),
    Rectangle(10, 20),
    Circle(20),
    Rectangle(15, 12)
]

In [53]:
shapes

[Circle(radius=7),
 Rectangle(height=10, width=20),
 Circle(radius=20),
 Rectangle(height=15, width=12)]

In [57]:
for i in shapes:
    print(i, type(i))
    print(f"Perimeter : {i.perimeter():.2f}")
    print(f"Area : {i.area():.2f}")
    print("\n", "="*50, "\n")

Circle(radius=7) <class '__main__.Circle'>

AttributeError: 'Circle' object has no attribute 'perimeter'