In [1]:
a = 23
print(type(a))

<class 'int'>

In [2]:
b = -45
print(type(b))

<class 'int'>

In [3]:
c = 25.9
print(type(c))

<class 'float'>

In [4]:
d = [4,5,6,7]
print(type(d))

<class 'list'>

In [5]:
s = {
    "roll_no": [103,104,105],
    "name": ["Rahul","Raman","Aditi"],
    "marks": [78.3,84.5,88.9],
    "hobbies": ["singing","Acting","cricket"]
}
print(type(s))

<class 'dict'>

In [6]:
import pandas as pd
df = pd.DataFrame(s)
df

   roll_no   name  marks  hobbies
0      103  Rahul   78.3  singing
1      104  Raman   84.5   Acting
2      105  Aditi   88.9  cricket

In [7]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [8]:
df.columns

Index(['roll_no', 'name', 'marks', 'hobbies'], dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df.values

array([[103, 'Rahul', 78.3, 'singing'],
       [104, 'Raman', 84.5, 'Acting'],
       [105, 'Aditi', 88.9, 'cricket']], dtype=object)

In [11]:
df.shape

(3, 4)

In [12]:
df.dtypes

roll_no      int64
name        object
marks      float64
hobbies     object
dtype: object

In [13]:
df.size

12

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  3 non-null      int64
 1   name     3 non-null      object
 2   marks    3 non-null      float64
 3   hobbies  3 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 228.0+ bytes

In [15]:
df.sort_values(by="marks", ascending=False)

   roll_no   name  marks  hobbies
2      105  Aditi   88.9  cricket
1      104  Raman   84.5   Acting
0      103  Rahul   78.3  singing

In [16]:
df["marks"].sum()

np.float64(251.70000000000002)

In [17]:
df["marks"].mean()

np.float64(83.9)

In [19]:
df.describe()

       roll_no      marks
count      3.0   3.000000
mean     104.0  83.900000
std        1.0   5.325411
min      103.0  78.300000
25%      103.5  81.400000
50%      104.0  84.500000
75%      104.5  86.700000
max      105.0  88.900000

In [20]:
class Person:

    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def talk(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [21]:
p1 = Person(name="Rahul",age=28,gender="male",occupation="Engineer")
p1

In [22]:
type(p1)

__main__.Person

In [23]:
p1.name

'Rahul'

In [24]:
p1.age

28

In [25]:
p1.gender

'male'

In [26]:
p1.occupation

'Engineer'

In [27]:
p1.talk()

My name is Rahul
I am 28 years old
I am male
I work as a Engineer

In [28]:
p2 = Person(name="Aditi", age=25, gender="female", occupation="HR")

In [29]:
p2.talk()

My name is Aditi
I am 25 years old
I am female
I work as a HR

In [30]:
from dataclasses import dataclass

In [31]:
from typing import Literal

In [32]:
@dataclass
class Student:
    roll_no: int
    name : str
    marks: float
    gender: Literal["male","female"]
    hobbies: list[str]

    def get_info(self):
        print(f"student Roll number : {self.roll_no}")
        print(f"Name : {self.name}")
        print(f"Marks : {self.marks}")
        print(f"Gender : {self.gender}")
        print(f"Hobbies : {self.hobbies}")

In [33]:
s1 = Student(
    roll_no= 101,
    name= "Sarthak",
    marks= 73.7,
    gender= "male",
    hobbies= ["Singing","Cricket"]

)

In [34]:
s1

Student(roll_no=101, name='Sarthak', marks=73.7, gender='male', hobbies=['Singing', 'Cricket'])

In [35]:
s1.get_info()

student Roll number : 101
Name : Sarthak
Marks : 73.7
Gender : male
Hobbies : ['Singing', 'Cricket']

In [36]:
s2 = Student(
    roll_no=102,
    name= "Aditi",
    marks = 95.4,
    gender="female",
    hobbies= ["Cycling"]
)

In [37]:
s2

Student(roll_no=102, name='Aditi', marks=95.4, gender='female', hobbies=['Cycling'])

In [38]:
s2.get_info()

student Roll number : 102
Name : Aditi
Marks : 95.4
Gender : female
Hobbies : ['Cycling']